In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import os

In [2]:
def clean_estado(df):
    df.rename(columns={'IDVNOMBREVCLAVE':'IDVNOMBREVCLAVE'.replace('V','|')},inplace=True)
    df.rename(columns={'ID|NOMBRE|CLA|E':'ID|NOMBRE|CLAVE'},inplace=True)

    df['ID|NOMBRE|CLAVE'] = df['ID|NOMBRE|CLAVE'].map(lambda x:x.replace('V','|'))
    df['ID|NOMBRE|CLAVE'] = df['ID|NOMBRE|CLAVE'].map(lambda x:x.replace('||','|V'))
    df.to_csv('temp.txt',header=True,sep='|',index=False)
    df = pd.read_csv('temp.txt',delimiter='|')
    df['ID|NOMBRE|CLAVE'] = df['ID|NOMBRE|CLAVE'].map(lambda x:x.split("|"))
    nombres = list(df.columns)[0].split('|')
    df[nombres] = df['ID|NOMBRE|CLAVE'].apply(pd.Series)
    df.drop('ID|NOMBRE|CLAVE',axis=1,inplace=True)
    return df

In [3]:
%%time
engine = create_engine("mysql://root:123@localhost/tsc")
conn = engine.connect()
for arch in os.listdir('./Datos/'):
    if arch.endswith('.txt'):
        print arch
        df = pd.read_csv('./Datos/%s'%arch,delimiter='|')
        if arch=='ESTADO.txt':
            df = clean_estado(df)
        df.to_sql(arch.replace('.txt','').upper(),
                  chunksize=1000,
                  if_exists='replace',
                  con=conn)
conn.close()

CLIENTE.txt
ESTADO.txt
plastico.txt
producto.txt
transaccion.txt
CUENTA.txt
sucursal.txt
CPU times: user 24.4 s, sys: 276 ms, total: 24.7 s
Wall time: 41.4 s

In [4]:
del(df)